{% extends "bootstrap/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
  {{ super() }}
  <style>
    h3 {
      text-align: center;
    }

    #url {
      display: table-cell;
      width: 100%;
      padding: 0 !important;
    }

    #error {
      display: table-cell;
      color: red;
    }
  </style>
{% endblock %}

{% block title %}
  URL ensmaller
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h3>URL Ensmaller</h3>
      <div id="content">
      </div>
      <div id="error" class="col-md-12"></div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type='text/javascript'>
    const formHTML = () => {
      return `
        <form method="POST">
          {{ form.csrf_token }}
            <div class="col-xs-10">{{ form.url }}</div>
            <div class="col-xs-2"><input id="ensmall-btn" type="submit" value="Ensmall it!"></div>
        </form>
      `
    }

    const successHTML = (alias) => {
      const new_url = location.href + alias;
      return `
        <div class="row success">
          <div class="col-xs-8">New URL: <a href="` + new_url + `">` + new_url + `</a></div>
          <button id="redo" class="col-xs-4">Ensmall another?</button>
        </div>
      `
    }

    $(document).ready(() => {
      $error = $("#error");
      $content = $("#content");
      $content.append(formHTML());
      
      // Inject CSRF token into our AJAX request.
      $.ajaxSetup({
        beforeSend: function (xhr, settings) {
          if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
          }
        }
      })

      // Handle URL submission
      $content.on('submit', 'form', (e) => {
        $.ajax({
          type: "POST",
          url: "{{ url_for('index') }}",
          data: $('form').serialize(),
          success: function (data) {
            console.log(data.success)
            if (data.success) {
              $('form').remove()
              $error.text("")
              $content.append(successHTML(data.alias))
            } else {
              $error.text("Please enter a valid URL.")
            }
          }
        });
        e.preventDefault();
      });

      // Handle return to URL form from success
      $content.on('click', '#redo', () => {
        $('.success').remove()
        $content.append(formHTML)
      })
    })
  </script>
{% endblock %}