{% extends "bootstrap/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
  {{ super() }}
  <style>
    @import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

    * {
      font-family: 'Share Tech Mono', monospace;
      color: lightgrey;
      background-color: #496C89;
    }

    *:focus, *:active {
      outline: none;
    }

    h3 {
      text-align: center;
      font-weight: bold;
    }

    a {
      color: white;
    }

    div {
      margin: auto;
    }

    input {
      display: table-cell;
      border: none;
      border-radius: 5px;
      fill: #496C89;
      height: 30px;
      color: black;
      background-color: lightgrey;
      align-self: right;
    }

    .btn {
      width: 100px;
      float: left;
    }

    .btn:focus {
      background-color: #aaa;
      outline: none;
    }

    .url-div {
      width: 350px;
    }

    #copy {
      display: table-cell;
      margin: auto;
      border: none;
    }

    #content {
      margin: auto;
      width: 525px;
    }

    #url {
      width: 100%;
      border-radius: 5px;
      background-color: #eee;
    }

    #new-url {
      display: table-cell;
      vertical-align: middle;
      height: 30px;
    }

    #error {
      display: table-cell;
      color: #ff6969;
    }

    #clipboard {
      display: none;
    }
  </style>
{% endblock %}

{% block title %}
  URL ensmaller
{% endblock %}

{% block content %}
  <div class="row">
      <h3>URL Ensmaller</h3>
      <div id="content" class="row">
      </div>
      <div id="error" class="col-md-12"></div>
      <input id="clipboard"></input>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type='text/javascript'>
    const formHTML = () => {
      return `
        <form method="POST">
          {{ form.csrf_token }}
          <div class="col-xs-9 text-right">
            <div class="url-div">{{ form.url }}</div>
          </div>
          <div class="col-xs-2 text-left">
            <input id="ensmall-btn" class="btn" type="submit" value="Ensmall!">
          </div>
        </form>
      `
    }

    const successHTML = (alias) => {
      const new_url = location.href + alias;
      return `
        <div class="success">
          <div class="col-xs-9 text-right">
            <div id="new-url" class="url-div">
              <strong>Copy link: </strong>
              <a href="` + new_url + `">` + new_url + `</a>
            </div>
          </div>
          <div class="col-xs-2 text-left">
            <input id="redo" class="btn" type="submit" value="Another?">
          </div>
        </div>
      `
    }

    $(document).ready(() => {
      $copy = $("#copy");
      $clipboard = $("#clipboard");
      $error = $("#error");
      $content = $("#content");
      $content.append(formHTML());
      
      // Inject CSRF token into our AJAX requests
      $.ajaxSetup({
        beforeSend: function (xhr, settings) {
          if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
          }
        }
      })

      // Handle URL submission
      $content.on('submit', 'form', (e) => {
        $.ajax({
          type: "POST",
          url: "{{ url_for('index') }}",
          data: $('form').serialize(),
          success: function (data) {
            if (data.success) {
              $error.text("")
              $('form').remove()
              $content.append(successHTML(data.alias))
            } else {
              $error.text("Please enter a valid URL.")
            }
          }
        });
        e.preventDefault();
      });

      // Handle return to URL form from success
      $content.on('click', '#redo', () => {
        $('.success').remove()
        $content.append(formHTML)
      })

      // Copy generated alias to clipboard
      $content.on('click', "a", (e) => {
        e.preventDefault();
        $clipboard.css('display', 'block');
        $clipboard.val($('a').text()).select()
        document.execCommand('copy')
        $clipboard.css('display', 'none')
      })
    })
  </script>
{% endblock %}
